{% extends 'base.html.twig' %}

{% block title %}Editovat kontakt{% endblock %}

{% block body %}
    <h1>Editovat kontakt</h1>

    {{ include('contact/_form.html.twig', {'button_label': 'Uložit a odejít'}) }}

    <a href="{{ path('app_contact_index') }}">zpět na výpis</a>
{% endblock %}
