{% extends 'base.html.twig' %}

{% block title %}Nový kontakt{% endblock %}

{% block body %}
    <h1>Vytvořit nový kontakt</h1>

    {{ include('contact/_form.html.twig') }}

    <a href="{{ path('app_contact_index') }}">zpět na výpis</a>
{% endblock %}
